{% extends 'layout.html' %}
{% block body %}
<div id="mapid" style="width: 1000px; height: 600px;"></div>

<script>
    var mymap = L.map('mapid').setView([21.07204051307818, 105.7739627412891], 20);

    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);
    var building
    var tree
    function iconTree(feature, latlng) {
        var iconCus = L.icon({
            iconUrl: "../static/images/tree.png",
            iconSize: [20, 20],
            iconAncho: [22, 94],
            popupAncho: [-3, -76]
        })
        return L.marker(latlng, { icon: iconCus })
    }

    //Feature
    function buildingFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("<b>Địa chỉ: </b>" + feature.properties.diaChi + "<br>" +
                "<b>Loại nhà: </b>" + feature.properties.loaiNha + "<br>" +
                "<b>Số tầng: </b>" + feature.properties.soTang + "<br>" +
                "<b>Diện tích: </b>" + feature.properties.dienTich + "m2<br>" +
                "<b>ID: </b>" + feature.properties.id + "<br>")
        }

    }
    function treeFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup("<b>Loại cây: </b>" + feature.properties.loaicay + "<br>" +
                "<b>Chiều cao: </b>" + feature.properties.chieucao + "m<br>" +
                "<b>ID: </b>" + feature.properties.id + "<br>")
        }
    }

    //get API, add data to map
    function getAPI(link) {
        $.ajax({
            type: "GET",
            datatype: "JSON",
            url: link,
            success: function (response) {
                console.log(response)
                if (link == "api/v1/tree") {
                    tree = L.geoJSON(response, {
                        pointToLayer: iconTree, onEachFeature: treeFeature
                    }).addTo(mymap)
                }
                else {
                    building = L.geoJSON(response, {
                        onEachFeature: buildingFeature
                    }).addTo(mymap)
                }
            }
        })
    }
    getAPI("/api/v1/building")
    getAPI("api/v1/tree")
   
    var baseLayers = {
        "Open Street Maps": osm
    }
    var overlays = {
        "Tree": tree,
        "Building": building,
    }

    L.control.layers(baseLayers, overlays).addTo(mymap)

    var legend = L.control({ position: 'bottomright' })
    legend.onAdd = function (mymap) {
        var div = L.DomUtil.create('div', 'info')
        div.innerHTML += '<img style="width:30px;height:30px" src="{{ url_for("static", filename="images/building.png") }}">: Building<br>'
        div.innerHTML += '<img style="width:30px;height:30px" src="{{ url_for("static", filename="images/tree.png") }}">: Tree<br>'
        return div
    }
    legend.addTo(mymap)

</script>

{% endblock body %}