<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}
        {% endblock %}</title>
</head>

<body>
    {% block head %}

    <title>1st leaflet - Leaflet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.fusesearch.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <script src="https://labs.easyblog.it/maps/leaflet-search/src/leaflet-search.js"></script>
    <script src="{{ url_for('static', filename='js/leaflet-search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fuse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.fusesearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    {% endblock head %}

    {% block body %}

    {% endblock %}
</body>

</html>